{% extends 'base.html' %}
{% load static %}

{% block content %}
    



<div class="container">
    <h3>Biz kimmiz</h3>
    <div class="border-top py-5 my-3">
        <div id="demo" class="carousel slide" data-ride="carousel">
            

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            
            <!-- The slideshow -->
            
            <div class="carousel-inner">
            {% for AboutPage in object_list %}
              <div class="carousel-item active">
                <img src="{{ AboutPage.photo1.url }}" alt="Los Angeles" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="{{ AboutPage.photo2.url }}" alt="Los Angeles" width="1100" height="500">
              </div>
              <div class="carousel-item">
                <img src="{{ AboutPage.photo3.url }}" alt="New York" width="1100" height="500">
              </div>
              {% endfor %}
            </div>
            
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
            
  </div>
    
          <section class="py-5 text-justify ">
          {% for AboutPage in object_list %}
            <h1>{{ AboutPage.title1 }}</h1>
              <p>{{ AboutPage.body1 }}</p>
              {% endfor %}
          </section>
          
          <div class="main w-100">
          {% for AboutPage in object_list %}
            <iframe width="100%" height="450" src="{{ AboutPage.video_file }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {% endfor %}
          </div>
          <section class="py-5 text-justify ">
          {% for AboutPage in object_list %}
          <h1>{{ AboutPage.title2 }}</h1>
            <p>{{ AboutPage.body2 }}</p>
            <h5>{{ AboutPage.summary }}</h5>
            {% endfor %}
        </section>

        {% for AboutPage in object_list %}
        <h2 class="text-center">{{ AboutPage.derector_name }}</h2>
        <div class="sidebar">
           <div class="circle circle1">
              <img src="{{ AboutPage.derector_photo.url }}" alt="{{ AboutPage.derector_name }}">
           </div>
           
           <div  class="font">
             
              <p>{{ AboutPage.derector_body }}</p>
           </div>
          </div>
          {% endfor %}
    
        </div>
    </div>
    

</div>  








{% endblock content %}