{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->



    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.4-web 3/css/all.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ICT academy</title>
</head>
<body>

<div class="container align-items-center">
	<nav class="navbar navbar-expand-sm navbar-light w-100 my-3 fixed-top-sm d-flex justify-content-between">
                <ul class="navbar-nav">
                    <a href="{% url 'home' %}" class="logo"> <img src="{% static 'img/logo1.png' %}" alt=""></a>
                    <li class="nav-item"><a href="{% url 'kurslar' %}" class="nav-link">Kurslar</a></li>
                    <li class="nav-item"><a href="{% url 'xizmatlar' %}" class="nav-link">Xizmatlar</a></li>
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Biz haqimizda</a>
                     <div class="dropdown-menu">
                         <a href="#" class="dropdown-item">Suratlar</a>
                         <a href="#" class="dropdown-item">Videolar</a>
                         <a href="{% url 'about' %}" class="dropdown-item">Biz kimmiz</a>

                     </div> 
                    </li>
                    <li class="nav-item"><a href="{% url 'yangiliklar' %}" class="nav-link">Yangiliklar</a></li>
                    <li class="nav-item"><a href="{% url 'ictwork' %}" class="nav-link"><i class="fas fa-briefcase"></i> ICT works</a></li>
                </ul>
                <div class="mx-4">
            		<a href="" class="btn bg-blur br-1 text-white  p-2 mx-4 disabled"><i class="fas fa-sign-in-alt mx-1"></i> KIRISH</a>
            		<a href="tel:+998951430013" ><i class="fas fa-phone"></i></a>
            		<a href="tel:+998951430013" class="d-inline mx-2">+998 95 143-00-13</a>
        		</div>
            </nav>

</div>
	



	{% block content %}
	{% endblock content %}




<footer class="bg-footer pt-5">

         <div class="container">
             <div class="row">
                 <div class="col-md-3">
                     <img src="{% static 'img/Logo2.png' %}" class="px-2" alt="">
                     <div class="my-3 d-flex justify-content-sm-around w-75 px-2">
                         <img src="{% static 'img/Facebook.png' %}" alt="">
                         <img src="{% static 'img/Telegram.png' %}" alt="">
                         <img src="{% static 'img/Youtube.png' %}" alt="">
                         <img src="{% static 'img/Instagram.png' %}" alt="">
                     </div>
                     <p class="student-font">
                        2017-2020 © ICT ACADEMY
                        Barcha huquqlar himoyalangan
                     </p>
                 </div>

                 <div class="col-md-3">
                     <ul class="text-secondary p-0">
                        <li class="nav-link not-bold"> Menu</li>
                         <a href="{% url 'home' %}"><li class="nav-link">Bosh sahifa</li></a>
                         <a href="{% url 'kurslar' %}"><li class="nav-link">Kurslar</li></a>
                         <a href="{% url 'xizmatlar' %}"><li class="nav-link">Xizmatlar</li></a>
                         <a href="{% url 'yangiliklar' %}"><li class="nav-link">Yangiliklar</li></a>
                         <a href="{% url 'ictwork' %}"><li class="nav-link">ICT works</li></a>
                     </ul>
                 </div>
                 <div class="col-md-3">
                    
                 <ul class="text-secondary p-0">
                     <li class="not-bold nav-link">Acconunt</li>
                     <li class="nav-link">Tizimga kirish</li>
                     <li class="nav-link">Ro`yxatdan o`tish</li>
                 </ul>
             </div>

             <div class="col-md-3">
               
             <ul class="text-secondary p-0">
                 <li class="nav-link not-bold"> Kontaktlar</li>
                 <a href = "mailto: ictacademy20172021@gmail.com">
                 <li class="nav-link" style = "font-size:14px;"><i class="far fa-envelope"></i>ictacademy20172021@gmail.com</li>
                 </a>
                 <a href ="tel:+998951430013">
                 <li class="nav-link"><i class="fas fa-phone-alt"></i> Qo’ng’iroq buyurtma qilish</li>
                 <li class="nav-link"><h6 class="not-bold">+998 (95) 143-00-13</h6></li>
                 </a>
                 <a href="#"><li class="nav-link">Dushanbadan - Yakshanbagacha
                    8:00 dan 22:00</li></a>
             </ul>
         </div>

             </div>
         </div>
     </footer>


     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 


<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:1,
            nav:true,
            loop:false
        }
    }
})
</script>



</body>
</html>